<!DOCTYPE html>
<html>

<head>
    <base href="/access/client/">
    <%- include("../layouts/head") %>
        <title>Product</title>
        <link rel="stylesheet" href="css/product.css">
        <link rel="stylesheet" href="css/home.css">
</head>

<body>

    <!--	Header	-->
    <%- include('../layouts/header') %>

        <!--	Body	-->
        <div id="body">
            <div class="container">
                <%- include('../layouts/menu') %>
                    <div class="row">
                        <div id="main" class="col-lg-8 col-md-12 col-sm-12">
                            <!--	Slider	-->
                            <div id="slide" class="carousel slide" data-ride="carousel">

                                <!-- Indicators -->
                                <ul class="carousel-indicators">
                                    <li data-target="#slide" data-slide-to="0" class="active"></li>
                                    <li data-target="#slide" data-slide-to="1"></li>
                                    <li data-target="#slide" data-slide-to="2"></li>
                                    <li data-target="#slide" data-slide-to="3"></li>
                                    <li data-target="#slide" data-slide-to="4"></li>
                                    <li data-target="#slide" data-slide-to="5"></li>
                                </ul>

                                <!-- The slideshow -->
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="images/slide-1.png" alt="Vietpro Academy">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="images/slide-2.png" alt="Vietpro Academy">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="images/slide-3.png" alt="Vietpro Academy">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="images/slide-4.png" alt="Vietpro Academy">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="images/slide-5.png" alt="Vietpro Academy">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="images/slide-6.png" alt="Vietpro Academy">
                                    </div>
                                </div>

                                <!-- Left and right controls -->
                                <a class="carousel-control-prev" href="#slide" data-slide="prev">
                                    <span class="carousel-control-prev-icon"></span>
                                </a>
                                <a class="carousel-control-next" href="#slide" data-slide="next">
                                    <span class="carousel-control-next-icon"></span>
                                </a>

                            </div>
                            <!--	End Slider	-->

                            <!--	List Product	-->
                            <div id="product">
                                <div id="product-head" class="row">
                                    <div id="product-img" class="col-lg-6 col-md-6 col-sm-12">
                                        <img src="../admin/img/<%= product.prd_image %>">
                                    </div>
                                    <div id="product-details" class="col-lg-6 col-md-6 col-sm-12">
                                        <h1>
                                            <%= product.prd_name %>
                                        </h1>
                                        <ul>
                                            <li><span>Bảo hành:</span> </li>
                                            <%= product.prd_warranty %>
                                                <li><span>Đi kèm:</span>
                                                    <%= product.prd_accessories %>
                                                </li>
                                                <li><span>Tình trạng:</span>
                                                    <%= product.prd_new %>
                                                </li>
                                                <li><span>Khuyến Mại:</span>
                                                    <%= product.prd_promotion %>
                                                </li>
                                                <li id="price">Giá Bán (chưa bao gồm VAT)</li>
                                                <li id="price-number">
                                                    <%= product.prd_price %>đ</li>
                                                <li id="status">
                                                    <% if (product.prd_status === 0) { %>
                                                        <span class="badge badge-danger">Hết hàng</span>
                                                        <% } else { %>
                                                            <span class="badge badge-success">Còn hàng</span>
                                                            <% } %>
                                                </li>
                                        </ul>
                                        <% if(product.prd_status == 1) { %>
                                            <form action="/add-to-cart" method="post">
                                                <div class="form-group">
                                                    <input type="hidden" name="quantity" value="1">
                                                </div>
                                                <div class="form-group">
                                                    <input type="hidden" name="prd_id" value="<%= product._id %>">
                                                </div>
                                                <div id="add-cart"><button name="sbm" type="submint" class="btn btn-success p-3 mb-2" value="Thêm vào giỏ hàng">Thêm vào giỏ hàng</button></div>
                                                <div id="buy"><button name="sbm" type="submit" class="btn btn-warning p-3" value="Mua ngay">Mua ngay</button></div>
                                            </form>
                                            <% } else { %>
                                                <div id="add-cart"><input disabled class="btn btn-danger p-3">Mua ngay</input>
                                                </div>
                                                <% } %>
                                    </div>
                                </div>
                                <div id="product-body" class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <h3>Đánh giá về iPhone X 64GB</h3>
                                        <p>
                                            <%= product.prd_details %>
                                        </p>
                                    </div>
                                </div>

                                <!--	Comment	-->
                                <div id="comment" class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <h3>Bình luận sản phẩm</h3>
                                        <form method="post" action="/product-detail-<%= product._id %>/comment">
                                            <div class="form-group">
                                                <label>Tên:</label>
                                                <input name="name" required type="text" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label>Email:</label>
                                                <input name="email" required type="email" class="form-control" id="pwd">
                                            </div>
                                            <div class="form-group">
                                                <label>Nội dung:</label>
                                                <textarea name="content" required rows="8" class="form-control"></textarea>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Gửi</button>
                                        </form>
                                    </div>
                                </div>
                                <!--	End Comment	-->

                                <!--	Comments List	-->
                                <div id="comments">
                                    <div id="comments-list" class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12">

                                        </div>
                                    </div>
                                </div>
                                <!--	End Comments List	-->
                            </div>
                            <!--	End Product	-->
                            <!-- <div id="pagination">
                                <ul class="pagination">
                                    <li class="page-item"><a class="page-link" href="#">Trang trước</a></li>
                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">Trang sau</a></li>
                                </ul>
                            </div> -->
                        </div>

                        <%- include("../layouts/sidebar") %>
                    </div>
            </div>
        </div>
        <!--	End Body	-->

        <%- include("../layouts/footer") %>
            <!--	End Footer	-->

            <script>
                function getComments(page = 1) {
                    $.ajax({
                        method: 'POST',
                        url: "/ajax/get-product-comment",
                        data: {
                            id: "<%= product._id %>",
                            page,
                        },
                        success: function(data) {
                            console.log(data);
                            if (data && data.data.html) {
                                $('#comments').html(data.data.html);
                            }
                        }
                    })
                }

                $(document).ready(function() {
                    getComments();

                    $(document).on('click', '.page-link', function(e) {
                        e.preventDefault();
                        const page = $(this).data("page");
                        getComments(page);
                    })
                })
            </script>
</body>

</html>